body{
    margin: 0px !important;
    height: 100vh;
    position: fixed;
    padding: 0px;
    width: 100vw;
    top: 0px;
}

body>[class*="col-"]{
    height: -webkit-fill-available;
}

#page_content{
    overflow-y: auto;
}

.hidden{
    width: 0px; height: 0px; position: absolute; z-index: -999;
    opacity: 0;
}

.col-show{
    display: none;
}

.icon{
    object-fit: contain;
    width: 100%;
}

.col-hold{
    display: flex;
    flex-direction: column;
}



[class*="col-"]{
    box-shadow: black 0px 0px 0px 1px;

    height: fit-content;
    margin: auto;
}


.show-s{
    display: none !important;
}
.col-r{
    flex-direction: row;
}
.col-full{flex: 5;}
.col-half{flex: 2.5; }
.col-1{flex: 1}
.col-2{flex: 2;}
.col-3{flex: 3;}
.col-4{flex: 4;}
.col-no {flex:unset;}

.col-full-w{ width: 100%; }
.col-half-w{ width: 50%; }
.col-1-w{width: 20%}
.col-2-w{width: 40%;}
.col-3-w{width: 60%;}
.col-4-w{width: 80%;}
.col-no-w{width:unset;}



@media screen and (max-width: 700px) {
    [class*="col-"]{
    width: 100%;
    flex-direction: column;
}

.hide-s{
    display:none;
}

.show-s{
    display: block !important;
}

.show-s:focus{
    display: none;
}

.col-toggle ~ .hide-s{
    display: block;
    max-height: 0px;
    transition: max-height 0.5s 0.1s;
}

.col-toggle:focus ~ .hide-s{
    display: block;
    max-height: 100vh;
}

}