body{
    margin: 0px;
    height: 100vh;
}

body>[class*="col-"]{
    height: -webkit-fill-available;
}

.col-show{
    display: none;
}

.icon{
    object-fit: contain;
    width: 100%;
}

[class*="col-"]{
    display: flex;
    box-shadow: black 0px 0px 0px 1px;
    flex-direction: column;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.show-s{
    display: none !important;
}
.col-r{
    flex-direction: row;
}
.col-full{ flex: 100%; }
.col-half{ flex: 50%; }
.col-1{flex: 20%}
.col-2{flex: 40%;}
.col-3{flex: 60%;}
.col-4{flex: 80%;}
.col-no {flex:unset;}

@media screen and (max-width: 700px) {
    [class*="col-"]{
    width: 100%;
    flex-direction: column;
}

.hide-s{
    display:none;
}

.show-s{
    display: block !important;
}

.show-s:focus{
    display: none;
}

.col-toggle ~ .hide-s{
    display: block;
    max-height: 0px;
    transition: max-height 0.5s;
}



.col-toggle:focus ~ .hide-s{
    display: block;
    max-height: 100vh;
}

}