html{
    background-color: blanchedalmond;
}

body{
    display: flex;
    margin: 0px;
    height: 99.9vh;
}

.content{
    flex: 2;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.post{
    min-width: 500px;
    width: 50%;
    margin: auto;
}

.sidebar{
    flex: 1;
    background-color: rgb(221, 194, 154);
    box-shadow: rgb(221, 194, 154) 0px 0px 10px 0px;
    max-width: 200px;
    height: 100%;
}

.sidebar{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: auto;
}

.sidebar>.nav{
    margin-top: 0.5em;
    padding: 1em;
}

.nav{
    background-color: #9c5a217d;
}

a.nav{
    text-decoration: none;
    color:#ffda33;
    font-size: 1.5em;
    font-family: sans-serif;
}

.nav.active, .nav:hover{
    box-shadow: #f1760af5 0px 0px 5px 1px;
}

.sidebar>.nav.banner>img{
    width: 10em;
    background-color: transparent !important;
    box-shadow: #9c5a217d 0px 0px 5px 1px;
}

.nav.banner{
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    font-size: initial;
}

input{
    display: inline-block;
    width: 60%;
    margin: 0.2em auto;
    padding: 0.5em;
}
.anounce{
    margin: 1.5em auto;
    display: block;
    width: auto;
    background-color: rgb(221, 194, 154);
    padding: 1em;
    font-family: monospace;
    font-size: 2em;
}

.error{
    color: red;
    background-color: pink;
}


.control, .control-col{
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    border: #e9c154 solid 1em;
    padding: 1em;
    object-fit: contain;
}
.control-col{
    flex-direction: column;
}

.control>.group{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.control>.group>.body{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}

.control>.group>.title{
    max-width: 90%;
}

.control>.sepperator{
    display: flex;
    flex-direction: column;
}

.control>.sepperator>hr{
    height: 2em;
}

.filter{
    display: block;
    width: 80%;
    margin: 0.5em auto;
}

.filter>img{
    width: 100%;
    object-fit: fill;
}

.filters{
    max-width: 15em;
    overflow: hidden;
}

video{
    max-width: 25em;
}

.disabled{
    display: none;
    opacity: 0px;
}

.feed{
    object-fit: contain;
    display: flex;
    height: 100%;
}

.panel{
    opacity: 0;
    display: none;
    margin: auto 0.5em;
}

.panel.active{
    display: block;
    opacity: 1;
}

#editImage{
    object-fit: fill;
    height: 100%;
}

#editImage>.control{
    height: 100% !important;
    max-height: unset !important;
    margin: auto;
    border: none;
    padding: 0px;
}

#viewImage{
    object-fit: contain;
}

.group>.anounce{
    margin: 0em;
}

#layers{
    height: max-content;
    list-style: none;
    padding: 0em;
    margin: 0.5rem;
    display: block;
    overflow-y: auto;
    background-color: antiquewhite;
    height: -webkit-fill-available;
    counter-reset: layer_count;
}

#layers>li:before{
    content: counter(layer_count);
	counter-increment: layer_count;
	float: left;
}

#layers>li.active{
    background-color: #bd8f5f;
}

#layers>li{
    padding: 0.5em;
    margin: 0.5em;
    background-color: #e9c154;
}