html{
    background-color: blanchedalmond;
}

body{
    margin: 0px;
    height: 99.9vh;
}

.content{
    flex: 2;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
}

.content.col{
    flex-direction: column;
}

body.content>.content{
    box-shadow: black 0px 0px 5px;
    margin: 1em;
}

.post{
    min-width: 500px;
    width: 50%;
    margin: auto;
}

.sidebar{
    flex: 1;
    background-color: rgb(221, 194, 154);
    box-shadow: rgb(221, 194, 154) 0px 0px 10px 0px;
    max-width: 200px;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: auto;
}

.sidebar>.nav{
    margin-top: 0.5em;
    padding: 1em;
}

.nav{
    background-color: #9c5a217d;
}

a.nav{
    text-decoration: none;
    color:#ffda33;
    font-size: 1.5em;
    font-family: sans-serif;
}

.nav.active, .nav:hover{
    box-shadow: #f1760af5 0px 0px 5px 1px;
}

.sidebar>.nav.banner>img{
    width: 10em;
    background-color: transparent !important;
    box-shadow: #9c5a217d 0px 0px 5px 1px;
}

.nav.banner{
    background-color: transparent !important;
    padding: 0;
    margin: 0;
    font-size: initial;
}

input{
    display: inline-block;
    width: 60%;
    margin: 0.2em auto;
    padding: 0.5em;
}
.anounce{
    margin: 1.5em auto;
    display: block;
    width: auto;
    background-color: rgb(221, 194, 154);
    padding: 1em;
    font-family: monospace;
    font-size: 2em;
}

.error{
    color: red;
    background-color: pink;
}

#preview{
    margin: 0 5em;
    box-shadow: black 0px 0px 5px 1px;
}

#preview>canvas{
    background-color: red;
    object-fit: contain;
    margin: auto 2em;
}