.primairy { color: #AA3939 }
.primairy-bg, .sidebar, .tag { background-color: #AA3939 }

/**/

.light-accent, .filter, #Stickers>span, .info
{ color: #FFFFFF } 

.light-accent-bg, .nav, .anounce, #layers>span.active, .element-pool>.feed>.title, .element-pool>.feed>.items>*
 { background-color: #FFFFFF }

/**/

.light-under { color: #D68F8F }
.light-under-bg, .info, .forms { background-color: #D68F8F }

/**/

.dark-under, .nav, .anounce 
{ color: #7E0000 }

.dark-under, .filter, #Stickers>span, #layers
{ background-color: #7E0000 }

/**/

.dark-accent, #layers>span.active { color: #520000 }
.dark-accent-bg, body { background-color: #520000 }

#page_content{
    position: relative;
}

#image_controlls{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    height: auto;
}

#image_controlls>form{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0.5em;
    min-width: 100%;
}

#image_controlls>*{
    flex: 1;
    font-size: 1.2em;
    padding: 0em;
    text-align: center;
}

.element-pool{
    display: flex;
    text-align: center;
}

.element-pool>.feed{
    padding: 0px;
    width: 100%;
    flex: 1;
    border-top: 1px black solid;
    position: relative;
}

.element-pool>.feed>.title, .element-pool>.feed>.items>*{
    font-size: 1.2em;
    font-family: monospace;
    display: block;
    object-fit: fill;
    padding: 1em;
    
}

.element-pool>.feed>.items{
    position: absolute;
    z-index: 2;
    width: 100%;
}

.feed>.items>.filter_class>.items>.sticker{
    display: block;
    object-fit: fit;
    display: inline;
    width: 50px;
    height: auto;
}

.feed>.items>.filter_class>.items:empty{
    display: none;
}

.feed>.items>.filter_class>.items{
    text-align: left;
    box-shadow: #AAAAAA 0px 0px 10px 0px;
    padding: 0.2em;
}

*:focus + .items{
    border-top: 1px black solid;
}

.element-pool>.feed>.title + .items{
    display: block;
    width: -moz-available;
    height: -moz-fit-content;
    z-index: 1;
    left: 0px;
}



.tag{
    width: 100%;
    height: 100%;
    max-width: 5em;
    max-height: 5em;
    right: 0px;
    top: 1em;
    border-radius: 1em 0em 0em 1em;
    box-shadow: inset #7E0000 5px -5px 20px -5px;
    z-index: 999;
}

#image_preview>fieldset{
    z-index: 1;
    position: absolute;
    object-fit: contain;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 0px;
    color: red;
}

#image_preview>fieldset>*{
    width: 200px;
    margin: auto;
}

#image_preview>.preview{
    margin: auto;
    object-fit: contain;
    max-height: 75vh;
    width: auto;
}

#image_preview{
    position: relative;
    text-align: center;
    overflow: hidden;
}

#image_preview>img.sticker{
    position: absolute;
    top: 0px;
    left: 0px;
}

.forms{
    padding: -1em;
}

.forms form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms form input{
    margin: 0.5em auto;
    display: block;
    width: 100%;
    font-size: 1.2em;
}


.tag>img{
    width: 5em;
    display: block;
}

.invalid:empty{
    display: none;
}

fieldset>label{
    width: 100%;
    display: block;
    font-size: 1.5em;
    text-align: center;
}

.nav{
    width: 100%;
    padding: 1em;
    margin: 0.5em 0em;
    text-decoration: none;
    font-family: monospace;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.banner{
    margin: 1em;
    padding: 0px;
}

.sidebar{
    overflow: hidden;
    height: 100%;
    /*! min-height: 100%; */
    height: -moz-available;
}

.anounce{
    margin: auto;
    box-shadow: inset black 0px -10px 10px -10px;
    z-index: 1;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1em;
    font-family: monospace;
    font-size: 2em;
    /*! width: 100%; */
}

.anounce:empty{
    display: none;
    opacity: 0;
}

.success{
    background-color: rgb(100, 255, 100);
}

#global_error{
    transition: opacity 0.2s;
    opacity: 1;
    position: fixed;
    z-index: 1;
    margin: 0px;
}

.error{
    color: red;
    background-color: pink;
}

fieldset{
    position: relative;
    border: none;
}

.invalid{
    display:block;
    text-align: center;
    padding: 0.5em;
    margin: auto;
    width: -webkit-fill-available;
}



@media screen and (max-width: 900px) {
    #menue{
        position: fixed;
        bottom: 0px;
        height: 50vh;
        overflow-y: hidden;
    }
    .element-pool{
        flex-direction: column;
    }
    
    #image_controlls{
        flex-direction: column;
    }
}

.filter, #Stickers>span{
    margin: 0.2em auto;
    width: 60%;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    font-family: monospace;
}

.reg_on{
    float: right;
    font-size: 0.6em;
}

.info{
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

.forms img{
    object-fit: contain;
    height: fit-content;   
}

.forms label{
    font-size: 1.2em;
    text-align: center;
    padding: 0.4em;
}

.forms textarea{
    min-height: 20em;
    margin: auto;
    margin-bottom: 1em;
    width: 95%;
}

.search>fieldset>input{
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}